<nav class="navbar navbar-dark navbar-expand-lg p-4 bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Maha-Folio </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item mx-5">
          <a class="nav-link" aria-current="page" href="/campgrounds">Forts</a>
        </li>
        <% if(!currentUser) { %>
        <li class="nav-item mx-4">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <% }else{ %>
        <li class="nav-item mx-4">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } %>
        <li class="nav-item mx-4">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
