<% layout('layouts/boilerplate') %>

<div class="row container">
  <div class="col-sm-12 col-lg-6 d-flex flex-column justify-content-center">
    <p class="" style="font-size: 100px; font-weight: bolder">ABOUT US</p>
    <p style="text-align: justify" class="pe-4">
      Welcome to Maharashtra Fortfolio, the ultimate destination for fort
      enthusiasts and history buffs alike! Our website features a wide variety
      of forts from all around the world, each with their own unique stories and
      architectural styles.
      <br />
      Our goal is to provide a platform for fort lovers to discover, learn
      about, and discuss these impressive structures. Whether you're interested
      in medieval castles, colonial forts, or modern military installations,
      you'll find something to pique your curiosity on our site.In addition to
      browsing our extensive collection of forts, registered users can also
      leave reviews and ratings for each fort they visit. This creates a
      community-driven resource that helps others plan their own fort adventures
      and connect with fellow enthusiasts. <br />
      At FortFolio we believe that forts are not just relics of the past, but
      living monuments that continue to inspire and educate us today. We hope
      that our website will spark your imagination and deepen your appreciation
      for these remarkable structures.
      <br />
      Thank you for visiting, and we look forward to sharing our passion for
      forts with you!
    </p>
  </div>
  <div
    class="col-sm-12 col-lg-6 image-hero"
    style="height: 35em; border-radius: 40px"
  ></div>
</div>
